.error-message {
    color: var(--ion-color-danger);
}

.label{
    font-family: Lato;
     font-weight: 500;
     color: gray;
}
h2{
    font-family: Lato;
    font-size: 26px;
    font-weight: 600;
    color: #c4c7cb;
}
